@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300;336;383&family=Roboto:wght@300&family=Zen+Antique&display=swap');
body {
    line-height: 1.5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.cv {
    width: 60%;
    margin: 10px auto;
    border: 1px solid;
}

.resusme {
    width: 26%;
    background: black;
    color: rgb(170, 187, 184);
    margin: -15px 0 0 30px;
}

.text {
    padding: 50px 0px 5px 19px;
    color: rgb(170, 187, 184);
    font-size: 15px;
}

.name_introduce {
    width: 100%;
    font-size: 60px;
    letter-spacing: 10px;
    color: darkgray;
    margin: -24px 74px;
}

.work {
    padding: 0px 72px;
    margin: 4px 0 10px -1px;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(199, 187, 187);
}

.cv_design {
    display: flex;
}

.cv_design .cv_left {
    width: 230px;
    background: black;
    color: white;
    margin-left: 30px;
}

.cv_design .cv_left .cv_image {}

.cv_design .cv_left .cv_image img {
    margin: 20px 0px -10px 23px;
    width: 80%;
    padding: 0 0 10px 0;
}

.cv_design .cv_left .cv_content .cv_profile {
    font-size: 20px;
    color: darkgray;
    margin: 5px 20px;
}

.cv_design .cv_left .cv_content ul li .cv_info {
    margin: 6px 0 0 -19px;
    font-size: 12px;
}

.cv_design .cv_left .cv_content ul li {}

.cv_design .cv_left .cv_content ul li .data {
    margin: -2px 0 10px -17px;
    font-size: 13px;
    font-style: italic;
    color: darkgray;
}

.cv_hobbies {
    font-size: 12px;
    color: darkgray;
    font-weight: 100;
    font-style: italic;
    margin: 2px 0;
}

.star {
    color: white;
    font-size: 10px;
    padding: 0px 10px 0 27px;
}

.cv_right {
    padding-left: 35px;
    padding-right: 30px;
}

.cv_job {
    font-size: 20px;
    color: rgb(199, 187, 187);
    letter-spacing: 2px;
    margin: 0 0 -17px;
}

.info_right {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.year {
    width: 20%;
    font-size: 14px;
    margin: 0 -10px;
    padding: 0 10px;
}

.info_right .company .name_company {
    color: darkgray;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 6px 0 0;
}

.info_right .company .position {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: -5px 0;
    color: rgb(199, 187, 187);
}

.info_right .company small {
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
}

.position,
small {
    font-style: italic;
}

.cv_right .cv_education {
    font-size: 20px;
    color: rgb(199, 187, 187);
    letter-spacing: 2px;
}

.cv_right>ul {
    padding-inline-start: 0;
    list-style-type: none;
}

.responsibility {
    margin: 5px 0;
    line-height: 1;
}

.cv_right .skill,
.p_skill {
    font-size: 20px;
    color: rgb(199, 187, 187);
    letter-spacing: 2px;
    display: flex;
}

.per_skill {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.cv_right .per_skill .full {
    width: 200px;
    height: 8px;
    background: darkgray;
}

.name_skill,
.name_skill2,
.name_skill3,
.name_skill4 {
    margin-bottom: 5px;
}

.skill,
.p_skill {
    margin: 5px 0;
}